.content {
    color: #000;
    background-color: lightgoldenrodyellow;
}

.content h1 {
    padding-top: 30px;
    text-align: center;
}

.content h2 {
    color: #000;
}

/* .navbar {
    background-color: maroon;
    margin-bottom: 30px;
    padding-left: 50px;
}

.navbar-brand {
    background-color:maroon;
}

.nav-link {
    margin-left:50px;
} */

.content h4 {
    text-align: center;
    margin-bottom: 40px;
}

.content .week2 {
    display: flex;
}

.content .week3 {
    display: flex;
}

.content .week4 {
    display: flex;
}

.content .week5 {
    display: flex;
}

.content .week6 {
    display: flex;
}

.content .week7 {
    display: flex;
}

.content .week8 {
    display: flex;
}

.content .first_part {
    margin:20px;
    padding: 20px;
    width: 50%;
    background-color: paleturquoise;
    border-radius: 8px;
    text-align: center;
    margin-top:20px;
}


.content a {
    color:darkcyan;
    font-size: 20px;
}
