body {
    background-color: lightgoldenrodyellow;
}

table, tr, td, th {
    border: 2px solid pink;
    font-family: "Reddit Mono", monospace;
}

.content h1 {
    margin:50px;    
}

.content tr, td {
    padding: 16px;
    text-align: center;
}

.content .reddit-mono-example {
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lists {
    display: flex;
    margin-left:50px;
}

.lists ol {
    margin-left: 100px;
}

.lists .a {
    list-style-type: lower-roman;
}

.lists .b {
    list-style: square;
}

.lists .c {
    list-style-type:lower-alpha;
}

.lists .d {
    list-style: '$ ';
}

.content p {
    margin-left: 50px;
}

.content p a {
    text-decoration: none;
}

.content p a:visited {
    color: hotpink;
}

p a:hover {
    color: darkcyan;
}

.content ol li::first-letter {
    font-size:25px;
    font-weight: bold;
}