body {
    background-color: #000;
}

.content{
    margin:100px;
    box-sizing: border-box;
    color: #2BFF27;
}

.content h1 {
    text-align: center;
    margin: 40px 0;
}

.content h3 {
    font-size: 28px;
    margin-top:10px;
}

.content table {
    width:100%;
    border-collapse: collapse;
}

.content ul {
    padding:10px;
}

.content li {
    padding:10px;
}

.content p {
    font-size:20px;
    font-weight: bolder;
}

.content table, tr, th {
    border: 2px solid pink;
}

.content tr, td {
    padding: 16px;
    text-align: center;
}

