body{
    background-color: bisque;
}

.navbar {
    padding:40px;
    background-color: black;
    height:10px;
}

h1 {
    margin:50px;
}

.col-sm {
    background-color:aquamarine;
    padding:20px;
}

#trivia {
    margin:50px;
}

#trivia #trivia-response {
    margin-top:20px;
}

#number-check {
    margin:50px;
}

#number-check #number-response {
    margin-top:20px;
}
