html {
    padding: 0;
    margin: 0;
    outline: 0;
  }

h1 {
    margin:50px;
}
  
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: Auto;
    background: lightgoldenrodyellow;
}

.title {
    text-align: center;
    margin-top: 100px;
}

.Assignment {
    margin:50px;
}

h3 {
    margin-top:50px;
}

#preview {
    margin-bottom: 50px;
}
