body{
    background-color: bisque;
}

h1 {
    margin:50px;
}

.col-sm {
    background-color:aquamarine;
    padding:20px;
}

#trivia {
    margin:50px;
}

#trivia #trivia-response {
    margin-top:20px;
}

#number-check {
    margin:50px;
}

#number-check #number-response {
    margin-top:20px;
}

footer {
    bottom: 0;
}