body{
    background-color: bisque;
    background-image: url('../images/5172658.jpg')
}

.navbar {
    padding:40px;
    background-color: black;
    height:10px;
}

h1 {
    margin:50px;
    color:aliceblue;
}

.col-sm {
    background-color:aquamarine;
    padding:20px;
}