body {
    box-sizing: border-box;
}

.content {
    margin:100px;
}

.content h1 {
    text-align: center;
    margin: 40px 0;
    color: maroon;
}

.content #part {
    font-size: 28px;
    font-weight: bold;
    margin-top:100px;

}

.content .first_part {
    margin:20px;
    color:brown;
    font-size: 22px;
}

.content button {
    font-size: 18px;
    color:black;
}